.container {
    height: 800px;
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 100px;
    gap: 10px;
    justify-items: center;
}
div .item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
}
