.container {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 1fr ;
    grid-template-rows: 3fr 2fr;
    row-gap: 10px;
}
div .item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 20px;
}